@font-face {
  font-family: 'Jersey';
  src: url('res/fonts/Jersey25-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Caveat';
  src: url('res/fonts/CaveatBrush.ttf') format('truetype');
}

:root {
  --primary: #25DAC5;
  --dark-text: #1E0E62;
  --light-text: rgba(21, 20, 57, 0.68);
  --font-face: Caveat;
}


